<div class="jumbotron">
    <a class="btn btn-lg btn-info btn-init-data" href="#" role="button" data-path="/fake/data">Fake Data</a>
    <a class="btn btn-lg btn-success btn-init-data margin-left-1em" href="#" role="button" data-path="/seed/table">Seed Table</a>
    <a class="btn btn-lg btn-danger btn-init-data margin-left-1em" href="#" role="button" data-path="/drop/table">Drop Table</a>
    <p class="text-dark timer">Complete: <span id="timer">0.000</span>s</p>
    <div class="msg text-center" role="alert"></div>
</div>
